.DS_Store
.vs
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.ipa
*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
SourceArt/**/*.png
SourceArt/**/*.tga
Binaries
Plugins/*/Binaries
*_BuiltData.uasset
Saved
Intermediate
Plugins/*/Intermediate
DerivedDataCache
gourceLog.txt
gourceVideo.mp4
tmp
tempLogs
build.log
CookLog.txt
build-rev.info
Desktop.ini
.idea
.vscode
*.vsconfig
Platforms
*.log

